<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>
  <xacro:include filename="$(find ros_sensors)/urdf/intel_d435.urdf.xacro"/>

  <xacro:panda_arm />
  <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8"/>


  <!-- <xacro:sensor_r430 prefix="" prefix_topic="" parent="panda_link8">
    <origin xyz="0.06 -0.06 0.025" rpy="${pi} ${-pi/2} ${-pi/4}" />
  </xacro:sensor_r430> -->

  <!-- <xacro:sensor_r430 prefix="" prefix_topic="" parent="panda_link8">
    <origin xyz="0.06 -0.06 0.025" rpy="${pi} ${-pi/2} ${-pi/4}" />
  </xacro:sensor_r430> -->

  <xacro:sensor_r430 prefix="" prefix_topic="" parent="panda_link8">
    <origin xyz="0.06 -0.06 0.0325" rpy="${pi} ${-pi/2} ${-pi/4}" />
  </xacro:sensor_r430>

  <!-- <link name="xela_sensor_frame"/> -->
  <!-- <joint name="xela_sensor_joint" type="fixed">
    <parent link="panda_leftfinger"/>
    <child link="xela_sensor_frame"/>
    <origin xyz="0.025 0.01 0.065 " rpy="0 0 0"/>
  </joint> -->

  <link name="xela_sensor_frame"/>
  <joint name="xela_sensor_joint" type="fixed">
    <parent link="panda_link8"/>
    <child link="xela_sensor_frame"/>
    <origin xyz="0.025 -0.011 0.123" rpy="0 0 0"/>
  </joint>

</robot>
